<%content_for :title do%>
	- O que é Cloud Computing?
<%end%>

<%content_for :head do%>
	<%= stylesheet_link_tag "oque" %>
	<script type="text/javascript"> 
		$(document).ready(function() {
				$('#menu-oque-over').removeClass("hide");
			$('.menu-empresa').mouseenter(function() {
				$('#menu-empresa-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-empresa-over').mouseleave(function(){
				$('#menu-empresa-over').fadeToggle("fast", "linear").addClass("hide");
			})
			$('.menu-servicos').mouseenter(function() {
				$('#menu-servicos-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-servicos-over').mouseleave(function(){
				$('#menu-servicos-over').fadeToggle("fast", "linear").addClass("hide");
			})
			$('.menu-contato').mouseenter(function() {
				$('#menu-contato-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-contato-over').mouseleave(function(){
				$('#menu-contato-over').fadeToggle("fast", "linear").addClass("hide");
			})
		})
	</script>
<%end%>
<article>
	<div id='oque-imagem'> 
    	
    </div>
    <div id='oque-conteudo'>
    	<div id='box-tit'>
        	<img src="images/tit-vantagens.png" border="0">
        </div>
		<div id='boxes'>
			<div id='box-1'>
				<img src="images/ico-oque2.png" border="0">
				<h3>Segurança</h3>
				<p>Toda a estrutura física de seu servidor estará protegida e assegurada, ou seja, os dados mais importantes de seu negócio estarão a salvo de problemas ou imprevistos.</p>
			</div>
			<div id='box-2'>
				<img src="images/ico-oque1.png" border="0">
				<h3>Economia</h3>
				<p>Considerando os gastos com infra-estrutura de TI, escolher a computação em nuvem para otimizar seu negócio é uma opção econômica. Os serviços são requisitados sob demanda e precificados com base no uso.</p>
			</div>
			<div id='box-3'>
				<img src="images/ico-oque3.png" border="0">
				<h3>Mobilidade</h3>
				<p>Além de poder acessar o servidor de qualquer lugar, também é possível flexibilizar o uso da capacidade extra apenas quando for necessário.</p>
			</div>
			<div id='box-4'>
				<img src="images/ico-oque4.png" border="0">
				<h3>Sustentabilidade</h3>
				<p>Adotar a computação em nuvem é também uma alternativa sustentável: O sistema, além de reduzir o consumo de energia da sua empresa, também ajuda a diminuir as emissões de carbono.</p>
			</div>
		</div>
    </div>
    <div id='oque-footer'>
		<%=link_to(image_tag("tit-conhecaservicos.png"), servicos_path)%>
    </div>
</article>