<%content_for :title do%>
	- Conheça os nossos serviços - Office 365 - FAQ
<%end%>

<%content_for :head do%>
	<%= stylesheet_link_tag "servicos" %>
	<%= stylesheet_link_tag "faq" %>
	<script type="text/javascript"> 
		$(document).ready(function() {
			$('.menu-oque').mouseenter(function() {
				$('#menu-oque-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-oque-over').mouseleave(function(){
				$('#menu-oque-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-empresa').mouseenter(function() {
				$('#menu-empresa-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-empresa-over').mouseleave(function(){
				$('#menu-empresa-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-servicos').mouseenter(function() {
				$('#menu-servicos-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-servicos-over').mouseleave(function(){
				$('#menu-servicos-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-contato').mouseenter(function() {
				$('#menu-contato-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-contato-over').mouseleave(function(){
				$('#menu-contato-over').fadeToggle("fast", "linear").addClass("hide");
			})
		})
	</script>
<%end%>

<article>
	<div id='tit-faq'>
    	<img src="/images/tit-faq.png" border="0" alt="Ceu System - Cloud Computing" title="Ceu System - Cloud Computing">
    </div>
    <div id='txt-faq'>
    		<p>A <b>Ceu System</b> oferece uma série de opções para melhorar a integração e realização de tarefas em sua empresa utilizando a computação nas nuvens de forma fácil e prática.</p>

<p>Trabalhando com a tecnologia dos produtos <b>Microsoft</b>, a adaptação às ferramentas se torna mais fácil pela interface semelhante aos softwares já conhecidos, e cada ferramenta permite que você desempenhe suas atividades do dia a dia, como serviço de e-mail e compartilhamento de projetos, de forma integrada. Tudo sem a necessidade de longas instalações</p>
    </div>
    <div id='item-faq'>
    	<div id='tit-item-faq'>
        	<p>O que é Cloud Computing?</p>
        </div>
        <div id='txt-item-faq'>
        	<p>É basicamente uma tecnologia que permite à usuários acessar e compartilhar informações via internet ou uma rede virtual privada usando uma gama escalável de recursos sem a necessidade de construir uma estrutura física para suportar estes recursos em seus próprios ambientes ou redes.</p>
        </div>
        <div id='tit-item-faq'>
        	<p>Por que é necessário um serviço de cloud computing?</p>
        </div>
        <div id='txt-item-faq'>
        	<p>A cloud é ideal para empresas que trabalham com gestão e produtividade, desenvolvimento, armazenamento de arquivos e colaboração.</p>
        </div>
        <div id='tit-item-faq'>
        	<p>Em que consiste o Office 365?</p>
        </div>
        <div id='txt-item-faq'>
        	<p>A Ceu System utiliza em seus serviços a Microsoft Office 365, que alia alta produtividade, economia de tempo e dinheiro, com recursos importantes da cloud computing às organizações de todas as dimensões.</p>
        </div>
        <div id='tit-item-faq'>
        	<p>Por que o uso do Office 365?</p>
        </div>
        <div id='txt-item-faq'>
        	<p>O Office 365 combina o conjunto de aplicações de ambiente de trabalho familiares do Microsoft Office, que é um pacote já conhecido pela maioria das empresas, além de ser de fácil utilização, com a segurança, confiabilidade e controle necessários.</p>
        </div>
        <div id='tit-item-faq'>
        	<p>Quais são as vantagens?</p>
        </div>
        <div id='txt-item-faq'>
        	<p>Com o Office 365, sua empresa poderá ter acesso às aplicações familiares do Office executadas localmente no seu PC e transferidas, atualizadas e licenciadas diretamente a partir da cloud.</p>
        </div>
        <div id='tit-item-faq'>
        	<p>Quais são os serviços oferecidos?</p>
        </div>
        <div id='txt-item-faq'>
        	<p>O Office 365 também expande sua experiência através de serviços de produtividade na cloud: Microsoft Exchange Online, Microsoft SharePoint Online e Microsoft Lync Online. Eles podem fornecer a solução mais adequada às necessidades empresariais.</p>
        </div>
        <div id='tit-item-faq'>
        	<p style="font-size:13px;">O que significa trabalhar "a partir de praticamente qualquer local ou dispositivo"?</p>
        </div>
        <div id='txt-item-faq'>
        	<p>O Office 365 permite que seja utilizado o e-mail, documentos e dados a partir de praticamente qualquer local ou dispositivo com uma experiência de produtividade familiar no PC, telefone e browser. Para isso é necessário um dispositivo adequado, conexão à Internet e versões suportadas do browser Internet Explorer, Firefox ou Safari.</p>
        </div>
        <div id='tit-item-faq'>
        	<p style="font-size:11px;">O Office for Mac 2011 estará disponível para compra para os clientes através do Office 365?</p>
        </div>
        <div id='txt-item-faq'>
        	<p>O Office for Mac não estará disponível para compra através de subscrição como parte do Office 365. No entanto, os clientes que utilizam o Office for Mac 2011 poderão utilizar alguns dos serviços do Office 365.</p>
        </div>
        <div id='tit-item-faq'>
        	<p>Os clientes do Office for Mac 2011 podem se conectar ao SharePoint Online?</p>
        </div>
        <div id='txt-item-faq'>
        	<p>Os clientes que utilizam o Word for Mac 2011, PowerPoint for Mac 2011 e Excel for Mac 2011 poderão abrir, guardar e carregar arquivos de e para o SharePoint Online, bem como para criação a partir do Word for Mac 2011 e PowerPoint for Mac 2011 utilizando o SharePoint Online.</p>
        </div>
        <div id='tit-item-faq'>
        	<p>Os clientes podem utilizar as Office Web Apps a partir de um Mac?</p>
        </div>
        <div id='txt-item-faq'>
        	<p>Os clientes podem acessar as Office Web Apps a partir do Safari e do Firefox, browsers suportados frequentemente em Macs.</p>
        </div>
    </div>
</article>
<aside>
		<div id='box-servicos3'>
		<%=link_to(image_tag("img-servicos2.png"), oque_e_index_path)%>
    </div>
    <div id='box-servicos4'>
		<%=link_to(image_tag("img-servicos3.png"), contato_index_path)%>
    </div>
</aside>