<%content_for :title do%>
	- Entre em contato!
<%end%>

<%content_for :head do%>
	<%= stylesheet_link_tag "trabalhe" %>
	<%= stylesheet_link_tag "enviado" %>
	
	<script type="text/javascript"> 
		$(document).ready(function() {
			$('.menu-oque').mouseenter(function() {
				$('#menu-oque-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-oque-over').mouseleave(function(){
				$('#menu-oque-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-empresa').mouseenter(function() {
				$('#menu-empresa-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-empresa-over').mouseleave(function(){
				$('#menu-empresa-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-servicos').mouseenter(function() {
				$('#menu-servicos-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-servicos-over').mouseleave(function(){
				$('#menu-servicos-over').fadeToggle("fast", "linear").addClass("hide");
			})
			
			$('.menu-contato').mouseenter(function() {
				$('#menu-contato-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-contato-over').mouseleave(function(){
				$('#menu-contato-over').fadeToggle("fast", "linear").addClass("hide");
			})

		})
	</script>
<%end%>

<article>
	<div id='tit-enviado'>
		<h3>Obrigado!</<h3>
	</div>
	<div id='txt-enviado'>
		<p>Sua mensagem foi enviada com sucesso. Em breve entraremos em contato.</p>
	</div>
		<div id='img-enviado'>
			
		</div>
</article>
<aside>

</aside>