<%content_for :title do%>
	- Trabalhe Conosco!
<%end%>

<%content_for :head do%>
	<%= stylesheet_link_tag "trabalhe" %>
	
	<script type="text/javascript"> 
		$(document).ready(function() {
			$('.menu-oque').mouseenter(function() {
				$('#menu-oque-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-oque-over').mouseleave(function(){
				$('#menu-oque-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-empresa').mouseenter(function() {
				$('#menu-empresa-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-empresa-over').mouseleave(function(){
				$('#menu-empresa-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-servicos').mouseenter(function() {
				$('#menu-servicos-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-servicos-over').mouseleave(function(){
				$('#menu-servicos-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-contato').mouseenter(function() {
				$('#menu-contato-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-contato-over').mouseleave(function(){
				$('#menu-contato-over').fadeToggle("fast", "linear").addClass("hide");
			})

		})
	</script>
<%end%>

<article>
	<div id='tit-contato'>
    	<img src="/images/tit-trabalhe.png" border="0">
    </div>
	
	Agradecemos o seu interesse em fazer parte da equipe Ceu System.

	Seu currículo foi enviado ao nosso banco de dados, e a qualquer momento podemos entrar em contato.
</article>
<aside>
	<img src="/images/img-aside-trabalhe.png" border="0">
</aside>