article{
	position:relative;
	text-align:left;
	top:200px;
	width:600px;
	}

form{
	position:relative;
	text-align:right;
	margin-top:30px;
	left:-80px;
	}
	
label{
	vertical-align:top;
	font-family:correspe;
	font-size:24px;
	color:#FFF;
	text-shadow:0px 5px 9px #010101;
	filter: Shadow(Color=#010101, 	
			Direction=135, 
			Strength=3);
	margin-right:10px;
	margin-bottom:30px;
	font-variant:small-caps;
	}

input{
	width:389px;
	padding-left:10px;
	height:42px;
	background-image:url('../images/bg-campo-form.png');
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	margin-bottom:30px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#d7f0f6;
	}

textarea{
	width:399px;
	height:235px;
	background-image:url('../images/bg-campo-txt.png');
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	resize:none;
	margin-right:-5px;
	}

aside{
	position:relative;
	left:300px;
	top:-500px;	
	}

footer{
	top:0px;
	}
