@charset "utf8";
/* CSS Document */

/*----- HTML5 default display styles -----*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
}

keygen, meter, progress {
	display: inline-block;
}

output {
	display: inline;
}

audio, canvas, embed, video {
	width: 300px;
}		

audio {
	height: 32px;
}

canvas, embed, video {
	height: 150px;
}

keygen {
	margin: 0em;
}

mark {
	background-color: yellow;
	color: black;
}

meter {
	width: 5em;
	height: 1em;
	vertical-align: -0.2em;
}

progress {
	width: 10em;
	height: 1em;
	vertical-align: -0.2em;
	background-color: gray;
}