:root #txt-box-servicos1{
	top:-5px \0/IE9;
	}

:root #txt-box-servicos2{
	top:5px \0/IE9;
	}

:root #txt-box-servicos3{
	top:40px \0/IE9;
	}

:root #txt-box-servicos4{
	top:57px \0/IE9;
	}