article{
	position:absolute;
	top:200px;
	text-align:left;
	width:660px;
	}
	
#tit-office{
	position:absolute;
	top:100px;
	}

#office-box1{
	position:absolute;
	top:160px;
	}

#office-box1 p{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	}

#office-box1 b{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	font-weight:bold;
	}

#office-box2{
	position:absolute;
	top:400px;
	text-align:justify;
	}

#office-produto1{
	position:absolute;
	top:90px;
	height:101px;
	margin-bottom:10px;
	}

#p1-direita{
	width:383px;
	height:81px;
	margin-left:241px;
	float:right;
	background-image:url('../images/bg-office365.png');
	padding:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	}

#p1-esquerda{
	width:231px;
	height:101px;
	margin-top:-101px;
	float:left;
	}

#office-produto2{
	position:absolute;
	top:210px;
	}

#p2-direita{
	width:231px;
	height:131px;
	float:right;
	margin-left:415px;
	}

#p2-esquerda{
	width:383px;
	height:111px;
	background-image:url('../images/bg-office365.png');
	padding:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	float:left;
	margin-top:-131px;
	}

#office-produto3{
	position:absolute;
	top:360px;
	}

#p3-direita{
	width:335px;
	height:170px;
	float:right;
	background-image:url('../images/bg-office365.png');
	padding:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	margin-left:288px;
	}

#p3-esquerda{
	width:278px;
	height:190px;
	float:left;
	margin-top:-190px;
	}

#office-produto4{
	position:absolute;
	top:570px;
	}

#p4-direita{
	width:231px;
	height:101px;
	float:right;
	margin-left:425px;
	}

#p4-esquerda{
	width:393px;
	height:99px;
	background-image:url('../images/bg-office365.png');
	padding:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	float:left;
	margin-top:-100px;
	}

#office-produto5{
	position:absolute;
	top:710px;
	}

#p5-direita{
	width:387px;
	height:69px;
	float:right;
	background-image:url('../images/bg-office365.png');
	padding:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	margin-left:236px;
	}

#p5-esquerda{
	width:231px;
	height:101px;
	float:left;
	margin-top:-89px;
	
	}

#office-box3{
	position:absolute;
	text-align:center;
	top:1250px;
	margin-left:107px;
	}

aside{
	position:absolute;
	top:300px;
	left:680px;
	}

footer{
	width:100%;
	height:271px;
	background-image:url('../images/bg-casas-noite.png');
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	color:#1e4551;
	position: absolute;
	bottom: 0 !important;
	bottom: -1px;
	width:100%;
	left:0px;
	z-index:1;
	top:1400px;
	}


