article{
	position:absolute;
	top:230px;
	text-align:left;
	width:640px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFFFFF;
	}
#tit-servicos{
	position:absolute;
	top:100px;
	}

#txt-servicos{
	position:absolute;
	top:160px;
	}

article b{
	font-weight:bold;
	color:#152123;
	}

#box-servicos1{
	position:absolute;
	background-image:url('../images/bg-servicos1.png');
	background-repeat:no-repeat;
	width:605px;
	height:379px;
	left:25px;
	top:380px;
	}

#txt-box-servicos1{
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
	text-shadow:0px 5px 9px #000000;
	text-align:center;
	width:300px;
	left:165px;
	top:-3px;
	filter: Shadow(Color=#000000, 	
			Direction=135, 
			Strength=3);
	}

#txt-box-servicos2{
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFFFFF;
	font-size:14px;
	line-height:20px;
	left:95px;
	top:85px;
	letter-spacing:2px;
	width:500px;
	}

#txt-box-servicos3{
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFFFFF;
	font-size:14px;
	line-height:20px;
	left:124px;
	top:174px;
	letter-spacing:2px;
	width:470px;
	}

#txt-box-servicos4{
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFFFFF;
	font-size:14px;
	line-height:20px;
	left:134px;
	top:264px;
	letter-spacing:2px;
	width:440px;
	}

#box-servicos2{
	position:absolute;
	background-image:url('../images/bg-servicos2.png');
	background-repeat:no-repeat;
	width:596px;
	height:162px;
	left:25px;
	top:830px;

	}

#box-servicos2 p{
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	color:#1e4552;
	font-size:12px;
	line-height:20px;
	left:30px;
	top:42px;
	letter-spacing:1px;
	width:520px;
	}

#box-office{
	position:absolute;
	top:1050px;
	left:147px;
	}
	
aside{
	position:absolute;
	top:300px;
	left:660px;
	text-align:left;
	width:300px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFFFFF;
	text-align:center;
	}
	
footer{
	width:100%;
	height:271px;
	background-image:url('../images/bg-casas-noite.png');
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	color:#1e4551;
	position: absolute;
	bottom: 0 !important;
	bottom: -1px;
	width:100%;
	left:0px;
	top:1329px;
	}