html, body{
	height:0;
	}

img{
	border:0px;
	}

@font-face {
    font-family: 'correspe';
    src: url('thescob_-webfont.eot');
    src: url('thescob_-webfont.eot?#iefix') format('embedded-opentype'),
         url('thescob_-webfont.woff') format('woff'),
         url('thescob_-webfont.ttf') format('truetype'),
         url('thescob_-webfont.svg#TheSansCorrespeBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


ul{
	margin:0;
	list-style:none;
	display:inline-block;
	}

ul li{
	margin:0;
	display:inline-block;
	}
	
body{
	background-color:#7fcce6;
	background-image:url('/images/bg-noite.jpg');
	background-repeat:repeat-x;
	text-align:center;
	overflow-x:hidden;
	}
	
section{
	position:relative;
	width:960px;
	margin:0 auto;
	margin-top:-8px;
	height:100%;
	}

header{
	position:absolute;
	text-align:left;
	z-index:100;
	}

#logo{
	position:absolute;
	width:218px;
	height:66px;
	top:44px;
	left:34px;
	*left:-450px;
	}

nav{
	position:absolute;
	width:680px;
	height:180px;
	top:24px;
	left:280px;
	*left:-200px;
	background-image:url('../images/bg-menu.png');
	background-repeat:no-repeat;
	display:block;
	}

nav ul{
	margin-left:30px;
	margin-top:40px;
	*margin-left:70px;
	}

nav li{
	vertical-align: top;
	margin-right:60px;
	*float:left;
	}
	
.hide{
	display:none;
	}

#menu-oque-over{
	position:absolute;
	top:9px;
	left:41px;
	}

#menu-empresa-over{
	position:absolute;
	top:7px;
	left:190px;
	}

#menu-servicos-over{
	position:absolute;
	top:10px;
	left:347px;
	}
	
#menu-contato-over{
	position:absolute;
	top:9px;
	left:492px;
	}
	
article{
	position:absolute;
	top:150px;
	z-index:1000;
	}

#tit-oque{
	position:absolute;
	z-index:100;
	left:153px;
	}

#tv{
	position:absolute;
	z-index:100;
	top:180px;
	left:182px;
	width:596px;
	height:344px;
	background-image:url(../images/bg-video.png);
	background-repeat:no-repeat;
	background-position:center top;
	}

video{
	border-radius: 40px; -webkit-border-radius: 40px; -moz-border-radius: 40px;
	}

#flash_fallback_1{
	border-radius: 40px; -webkit-border-radius: 40px; -moz-border-radius: 40px;
	}

source{
	border-radius: 40px; -webkit-border-radius: 40px; -moz-border-radius: 40px;
	}

#tit-naoentendeu{
	position:absolute;
	z-index:100;
	top:550px;
	left:370px;
	}

footer{
	width:100%;
	height:271px;
	background-image:url('../images/bg-casas-noite.png');
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	color:#1e4551;
	position: absolute;
	bottom: 0 !important;
	bottom: -1px;
	width:100%;
	left:0px;
	z-index:1;
	top:700px;
	}

#c_footer{
	width:960px;
	margin:0 auto;
	}
	
#logo_korewa{
	width:69px;
	height:29px;
	margin-top:100px;
	}
	
footer span{
	float:right;
	}
	
footer span a{
	text-align:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	text-decoration:none;
	color:#1e4551;
	}
	
.field_with_errors
{
	display :inline-block;
}
.input_error
{
	width:399px;
	height:42px;
	background-image:url('../images/bg-campo-form2.png') !important;
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	margin-bottom:30px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#d7f0f6;
	
}

.textarea_error{
	width:399px;
	height:235px;
	background-image:url('../images/bg-campo-txt2.png') !important;
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	resize:none;
	margin-right:-5px;
	}