<%content_for :head do%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<script src="javascripts/video.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript">
    VideoJS.setupAllWhenReady();
  </script>
  <link rel="stylesheet" href="stylesheets/video-js.css" type="text/css" media="screen" title="Video JS">
<link rel="icon" 
      type="image/png" 
      href="/images/icon.ico" />
<script type="text/javascript"> 
	$(document).ready(function() {
		$('.menu-oque').mouseenter(function() {
			$('#menu-oque-over').fadeToggle("fast", "linear").removeClass("hide");})
			$('#menu-oque-over').mouseleave(function(){
			$('#menu-oque-over').fadeToggle("fast", "linear").addClass("hide");
		})
		$('.menu-empresa').mouseenter(function() {
			$('#menu-empresa-over').fadeToggle("fast", "linear").removeClass("hide");})
			$('#menu-empresa-over').mouseleave(function(){
			$('#menu-empresa-over').fadeToggle("fast", "linear").addClass("hide");
		})
		$('.menu-servicos').mouseenter(function() {
			$('#menu-servicos-over').fadeToggle("fast", "linear").removeClass("hide");})
			$('#menu-servicos-over').mouseleave(function(){
			$('#menu-servicos-over').fadeToggle("fast", "linear").addClass("hide");
		})
		$('.menu-contato').mouseenter(function() {
			$('#menu-contato-over').fadeToggle("fast", "linear").removeClass("hide");})
			$('#menu-contato-over').mouseleave(function(){
			$('#menu-contato-over').fadeToggle("fast", "linear").addClass("hide");
		})
		
		var horizontal = $(window).width();
	    var vertical = $(window).height();
	
		if(vertical <= 900){
			window.location.href = '/home_small';
		}
		else
		{
			
		}
		
	})
$(function(){
	positionFooter(); 
	function positionFooter(){
		if($(document).height() < $(window).height()){
			$("#bg-rodape").css({position: "absolute",top:($(window).scrollTop()+$(window).height()-$("#bg-rodape").height())+"px"})
		}	
	}

	$(window)
		.scroll(positionFooter)
		.resize(positionFooter)
});
</script>
<%end%>
<article>
	<div id='nuvem_um' style='display:none'>
		<img src="images/nuvem_um.png" border="0">
	</div>
	<div id='nuvem_dois' style='display:none'>
		<img src="images/nuvem_dois.png" border="0">
	</div>
	<div id='tit-oque'>
		<img src="images/tit-oque.png" border="0">
	</div>
	<div id='tv'>
		<div class='video-js-box'>
			<video id="example_video_1" class="video-js" width="507" height="290" controls="controls" preload="auto" poster="http://www.ceusystem.com.br/images/img-bg-video.png">
			  <source src="/videos/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
			  <object id="flash_fallback_1" class="vjs-flash-fallback" width="507" height="290" type="application/x-shockwave-flash"
				data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
				<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
				<param name="allowfullscreen" value="true" />
				<param name="flashvars" value='config={"playlist":["http://www.ceusystem.com.br/images/img-bg-video.png", {"url": "http://www.ceusystem.com.br/videos/video.mp4","autoPlay":false,"autoBuffering":true}]}' />
				<img src="http://www.ceusystem.com.br/images/img-bg-video.png" width="507" height="290" alt="Poster Image"
				  title="No video playback capabilities." />
			  </object>
			</video>
		</div>
	</div>
	<div id='tit-naoentendeu'>
		<%=link_to(image_tag("tit-naoentendeu.png"), oque_e_index_path)%>
	</div>
</article>