<footer>
	<div id='logo_korewa'>
    	<a href="www.korewa.com.br"><img src="images/logo_korewa.png" border="0"></a>
    </div>
	<span><%=link_to("trabalhe conosco", trabalhe_conosco_index_path)%>  |  <%=link_to("termos de uso", termos_de_uso_index_path)%></span>
</footer>