<footer>
	<div id='logo_korewa'>
    	<%=link_to(image_tag("logo_korewa.png"), "http://www.korewa.com.br", :target => "_blank")%>
    </div>
	<span><%=link_to("trabalhe conosco", trabalhe_conosco_path)%>  |  <%=link_to("termos de uso", termos_de_uso_index_path)%></span>
</footer>